@use "variables" as var;
@include var.line;

h2{
    color:var.$color-secondary;
    text-align: center;
}
#websites{
    width: 100%;
    display: flex;
    justify-content: space-between;
    #snooze{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h3{
            text-align: center;
            color: var.$color-secondary;
        }
        iframe{
            border-radius: var.$radius;
            border: none;
            scrollbar-width: 1px;
            width:440px;
            min-height: 350px;
            max-width: 470px;
        }
            a{
                button{
                    color: white;
                    font-size: 1em;
                    border: none;
                    background: var.$color-secondary;
                    padding: 0.5em;
                    transition: all 0.3s ease;                    /* Smooth transitions for hover */
                    position: relative;
                    border-radius: var.$radius;
                    margin-top: 1em;
                }
            }
    }
    #games{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h3{
            text-align: center;
            color: var.$color-secondary;
        }
        .placeholder{
            display: flex;
            justify-content: center;
            align-items: center;
            background: var.$color-secondary;
            border-radius: var.$radius;
            border: none;
            scrollbar-width: 1px;
            min-height: 350px;
            min-width: 470px;
            user-select: none;
        }
            // a{
                button{
                    text-decoration:line-through;
                    color: white;
                    font-size: 1em;
                    border: none;
                    background: var.$color-primary;
                    padding: 0.5em;
                    transition: all 0.3s ease;                    /* Smooth transitions for hover */
                    position: relative;
                    border-radius: var.$radius;
                    margin-top: 1em;
                }
            // }
    }
}
#sources{
    ul{
        list-style: none;
        li{
            display: flex;
            align-items: center;
            *{
                margin: 1em;
            }
            a{
                text-decoration: none;
            }
            img{
                max-width: 5em;
            }
        }
    }
}

@media(max-width: 1300px){
    #websites{
        flex-direction: column;
    }
}